@font-face {
    font-family: Poppins-Regular;
    src: url('../../assets/fonts/poppins/Poppins-Regular.ttf'); 
  }
  @font-face {
    font-family: Poppins-Medium;
    src: url('../../assets/fonts/poppins/Poppins-Medium.ttf'); 
  }
  @font-face {
    font-family: Poppins-Bold;
    src: url('../../assets/fonts/poppins/Poppins-Bold.ttf'); 
  }
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../../assets/fonts/poppins/Poppins-SemiBold.ttf'); 
  }
  .mynav{
    overflow: hidden;
      background-color: #2b335c;
      font-family: Poppins-Regular, sans-serif;
    }
  .mynav a{
    float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 9px 30px;
      text-decoration: none;
      font-size: 16px;
      transition:0.6s;
    }
  .mynav .icon {
      display: none;
    }
  .mydropdown {
    float: left;
    overflow: hidden;
  }
  .mydropdown .dropbtn1 {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 9px 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .contentdrop {
    display: none;
    position: absolute;
    background-color:rgba(220,221,227,0.9);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .contentdrop a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .mynav a:hover{
      background-color:white;
      color:black;
      transition:0.6s;
      text-decoration: none;
    }
  .mydropdown:hover .dropbtn1 {
    background-color: white;
    color: #2b335c;
  }
  
  .contentdrop a:hover {
    background-color: rgba(43,51,92,0.8);
    color: white;
  }
  
  .mydropdown:hover .contentdrop {
    display: block;
    transition: 5s;
  }  
    @media screen and (max-width: 600px) {
      .mynav a:not(:first-child),.mydropdown .dropbtn1
    {display: none;}
      .mynav a.icon {
        float: right;
        display: block;
      }
    }
    
    @media screen and (max-width: 600px) {
      .mynav.responsive {position: relative;}
      .mynav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .mynav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
      .mynav.responsive .mydropdown {float: none;}
    .mynav.responsive .contentdrop {position: relative;}
    .mynav.responsive .mydropdown .dropbtn1 {
      display: block;
      width: 100%;
      text-align: left;
    }
    }



display-flex, .signup-content, .form-row, .form-radio, .select-icon, .select-icon i {
    display: flex;
    display: -webkit-flex; }
  list-type-ulli {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url("../../assets/fonts/montserrat/Montserrat-Light.ttf");
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/fonts/montserrat/Montserrat-Regular.ttf");
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url("../../assets/fonts/montserrat/Montserrat-Italic.ttf");
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url("../../assets/fonts/montserrat/Montserrat-Medium.ttf");
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url("../../assets/fonts/montserrat/Montserrat-SemiBold.ttf");
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url("../../assets/fonts/montserrat/Montserrat-Bold.ttf");
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    src: url("../../assets/fonts/montserrat/Montserrat-BoldItalic.ttf");
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    src: url("../../assets/fonts/montserrat/montserrat-v12-latin-900.ttf"), url("../../assets/fonts/montserrat/montserrat-v12-latin-900.eot") format("embedded-opentype"), url("../../assets/fonts/montserrat/montserrat-v12-latin-900.svg") format("woff2"), url("../../assets/fonts/montserrat/montserrat-v12-latin-900.woff") format("woff"), url("../../assets/fonts/montserrat/montserrat-v12-latin-900.woff2") format("truetype"); }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url("../../assets/fonts/poppins/poppins-v5-latin-300.eot");
    src: local("Poppins Light"), local("Poppins-Light"), url("../../assets/fonts/poppins/poppins-v5-latin-300.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/poppins/poppins-v5-latin-300.woff2") format("woff2"), url("../../assets/fonts/poppins/poppins-v5-latin-300.woff") format("woff"), url("../../assets/fonts/poppins/poppins-v5-latin-300.ttf") format("truetype"), url("../../assets/fonts/poppins/poppins-v5-latin-300.svg#Poppins") format("svg");
  }
  @font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 300;
    src: url("../../assets/fonts/poppins/poppins-v5-latin-300italic.eot");
    src: local("Poppins Light Italic"), local("Poppins-LightItalic"), url("../../assets/fonts/poppins/poppins-v5-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/poppins/poppins-v5-latin-300italic.woff2") format("woff2"), url("../../assets/fonts/poppins/poppins-v5-latin-300italic.woff") format("woff"), url("../../assets/fonts/poppins/poppins-v5-latin-300italic.ttf") format("truetype"), url("../../assets/fonts/poppins/poppins-v5-latin-300italic.svg#Poppins") format("svg");
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/fonts/poppins/poppins-v5-latin-regular.eot");
    src: local("Poppins Regular"), local("Poppins-Regular"), url("../../assets/fonts/poppins/poppins-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/poppins/poppins-v5-latin-regular.woff2") format("woff2"), url("../../assets/fonts/poppins/poppins-v5-latin-regular.woff") format("woff"), url("../../assets/fonts/poppins/poppins-v5-latin-regular.ttf") format("truetype"), url("../../assets/fonts/poppins/poppins-v5-latin-regular.svg#Poppins") format("svg");
  }
  @font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url("../../assets/fonts/poppins/poppins-v5-latin-italic.eot");
    src: local("Poppins Italic"), local("Poppins-Italic"), url("../../assets/fonts/poppins/poppins-v5-latin-italic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/poppins/poppins-v5-latin-italic.woff2") format("woff2"), url("../../assets/fonts/poppins/poppins-v5-latin-italic.woff") format("woff"), url("../../assets/fonts/poppins/poppins-v5-latin-italic.ttf") format("truetype"), url("../../assets/fonts/poppins/poppins-v5-latin-italic.svg#Poppins") format("svg");
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url("../../assets/fonts/poppins/poppins-v5-latin-500.eot");
    src: local("Poppins Medium"), local("Poppins-Medium"), url("../../assets/fonts/poppins/poppins-v5-latin-500.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/poppins/poppins-v5-latin-500.woff2") format("woff2"), url("../../assets/fonts/poppins/poppins-v5-latin-500.woff") format("woff"), url("../../assets/fonts/poppins/poppins-v5-latin-500.ttf") format("truetype"), url("../../assets/fonts/poppins/poppins-v5-latin-500.svg#Poppins") format("svg");
  }
  @font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    src: url("../../assets/fonts/poppins/poppins-v5-latin-500italic.eot");
    src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url("../../assets/fonts/poppins/poppins-v5-latin-500italic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/poppins/poppins-v5-latin-500italic.woff2") format("woff2"), url("../../assets/fonts/poppins/poppins-v5-latin-500italic.woff") format("woff"), url("../../assets/fonts/poppins/poppins-v5-latin-500italic.ttf") format("truetype"), url("../../assets/fonts/poppins/poppins-v5-latin-500italic.svg#Poppins") format("svg");
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url("../../assets/fonts/poppins/poppins-v5-latin-600.eot");
    src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../../assets/fonts/poppins/poppins-v5-latin-600.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/poppins/poppins-v5-latin-600.woff2") format("woff2"), url("../../assets/fonts/poppins/poppins-v5-latin-600.woff") format("woff"), url("../../assets/fonts/poppins/poppins-v5-latin-600.ttf") format("truetype"), url("../../assets/fonts/poppins/poppins-v5-latin-600.svg#Poppins") format("svg");
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url("../../assets/fonts/poppins/poppins-v5-latin-700.eot");
    src: local("Poppins Bold"), local("Poppins-Bold"), url("../../assets/fonts/poppins/poppins-v5-latin-700.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/poppins/poppins-v5-latin-700.woff2") format("woff2"), url("../../assets/fonts/poppins/poppins-v5-latin-700.woff") format("woff"), url("../../assets/fonts/poppins/poppins-v5-latin-700.ttf") format("truetype"), url("../../assets/fonts/poppins/poppins-v5-latin-700.svg#Poppins") format("svg");
  }
  @font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    src: url("../../assets/fonts/poppins/poppins-v5-latin-700italic.eot");
    src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url("../../assets/fonts/poppins/poppins-v5-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/poppins/poppins-v5-latin-700italic.woff2") format("woff2"), url("../../assets/fonts/poppins/poppins-v5-latin-700italic.woff") format("woff"), url("../../assets/fonts/poppins/poppins-v5-latin-700italic.ttf") format("truetype"), url("../../assets/fonts/poppins/poppins-v5-latin-700italic.svg#Poppins") format("svg");
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url("../../assets/fonts/poppins/poppins-v5-latin-800.eot");
    src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"), url("../../assets/fonts/poppins/poppins-v5-latin-800.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/poppins/poppins-v5-latin-800.woff2") format("woff2"), url("../../assets/fonts/poppins/poppins-v5-latin-800.woff") format("woff"), url("../../assets/fonts/poppins/poppins-v5-latin-800.ttf") format("truetype"), url("../../assets/fonts/poppins/poppins-v5-latin-800.svg#Poppins") format("svg");
  }
  @font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 800;
    src: url("../../assets/fonts/poppins/poppins-v5-latin-800italic.eot");
    src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"), url("../../assets/fonts/poppins/poppins-v5-latin-800italic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/poppins/poppins-v5-latin-800italic.woff2") format("woff2"), url("../../assets/fonts/poppins/poppins-v5-latin-800italic.woff") format("woff"), url("../../assets/fonts/poppins/poppins-v5-latin-800italic.ttf") format("truetype"), url("../../assets/fonts/poppins/poppins-v5-latin-800italic.svg#Poppins") format("svg");
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url("../../assets/fonts/poppins/poppins-v5-latin-900.eot");
    src: local("Poppins Black"), local("Poppins-Black"), url("../../assets/fonts/poppins/poppins-v5-latin-900.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/poppins/poppins-v5-latin-900.woff2") format("woff2"), url("../../assets/fonts/poppins/poppins-v5-latin-900.woff") format("woff"), url("../../assets/fonts/poppins/poppins-v5-latin-900.ttf") format("truetype"), url("../../assets/fonts/poppins/poppins-v5-latin-900.svg#Poppins") format("svg");
  }
  a:focus, a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s; }
  input, select, textarea {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important; }
  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    margin: 0; }
  input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important; }
  input[type=checkbox] {
    appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
    -o-appearance: checkbox !important;
    -ms-appearance: checkbox !important; }
  input[type=radio] {
    appearance: radio !important;
    -moz-appearance: radio !important;
    -webkit-appearance: radio !important;
    -o-appearance: radio !important;
    -ms-appearance: radio !important; }
  img {
    max-width: 100%;
    height: auto; }
  figure {
    margin: 0; }
  input[type=number] {
    -moz-appearance: textfield !important;
    appearance: none !important;
    -webkit-appearance: none !important; }
  input:-webkit-autofill {
    box-shadow: 0 0 0 30px transparent inset;
    -moz-box-shadow: 0 0 0 30px transparent inset;
    -webkit-box-shadow: 0 0 0 30px transparent inset;
    -o-box-shadow: 0 0 0 30px transparent inset;
    -ms-box-shadow: 0 0 0 30px transparent inset; }
  h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: #2B335C;
    font-family: 'Montserrat';
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 32px; }
  .clear {
    clear: both; }
  .main {
    font-size: 13px;
    line-height: 1.8;
    color: #2B335C;
    font-weight: 400;
    background: #6d7399;
    padding: 50px 0; }
  .custom-link{
      text-decoration:none;
      font-family:Montserrat;
      position:absolute;
      top:4%;
      right:4%;
      font-size:17px;
      color:white;
      opacity:0.5;
      transition:0.2s;
  }
  .custom-link:hover{
      transition:0.2s;
      opacity:1;
      font-size:17px;	
  }
  .cust-con {
    width: 1400px;
    position: relative;
    margin: 0 auto;
    background: #fff; }
  .signup-img, .signupform {
    width: 50%; }
  .signup-img {
    margin-bottom: -7px; }
  .registerform {
    padding: 50px 100px 50px 70px; }
  .form-row {
    margin: 0 -15px; }
    .form-row .form-group {
      width: 50%;
      padding: 0 15px; }
  .form-group {
    margin-bottom: 23px;
    position: relative; }
  input, select {
    display: block;
    width: 100%;
    border: 1px solid #ebebeb;
    padding: 11px 20px;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 13px; }
    input:focus, select:focus {
      border: 1px solid #ff6801; }
  label {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat';
    margin-bottom: 2px;
    display: block; }
  .form-radio {
    margin-bottom: 18px; }
    .form-radio input {
      width: auto;
      display: inline-block; }
  .radio-label {
    padding-right: 72px; }
  .form-radio-item {
    position: relative;
    margin-right: 45px; }
    .form-radio-item label {
      font-weight: 500;
      font-size: 13px;
      padding-left: 25px;
      position: relative;
      z-index: 9;
      display: block;
      cursor: pointer; }
  .check {
    display: inline-block;
    position: absolute;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    height: 13px;
    width: 13px;
    top: 4px;
    left: 0px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear; }
    .check:before {
      position: absolute;
      display: block;
      content: '';
      width: 9px;
      height: 9px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      -o-border-radius: 50%;
      -ms-border-radius: 50%;
      top: 2px;
      left: 2px;
      margin: auto;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear; }
  input[type=radio] {
    position: absolute;
    visibility: hidden; }
    input[type=radio]:checked ~ .check {
      border: 1px solid #ff6801; }
    input[type=radio]:checked ~ .check::before {
      background: #ff6801; }
  .form-select {
    position: relative; }
  select {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    position: relative;
    background: 0 0;
    z-index: 10;
    cursor: pointer; }
  .select-icon {
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center; }
    .select-icon i {
      justify-content: center;
      -moz-justify-content: center;
      -webkit-justify-content: center;
      -o-justify-content: center;
      -ms-justify-content: center;
      align-items: center;
      -moz-align-items: center;
      -webkit-align-items: center;
      -o-align-items: center;
      -ms-align-items: center;
      width: 40px;
      height: 20px;
      font-size: 18px;
      color: #999; }
  .form-submit {
    text-align: right;
    padding-top: 27px; }
  .submit {
    background-color:#2B335C;
    width: 140px;
    height: 40px;
    display: inline-block;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 13px;
    padding: 10px;
    border: none;
    cursor: pointer; 
    border-radius:6px;
    color:white;
    opacity:0.82;
    }
  .submit:hover{
      opacity:1;
  }
  @media screen and (max-width: 992px) {
    .cust-con {
      width: calc(100% - 40px);
      max-width: 100%; }
    .signup-content {
      flex-direction: column;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
      -o-flex-direction: column;
      -ms-flex-direction: column; }
    .signup-img, .signupform {
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .registerform {
      padding: 50px 40px 50px 40px; } }
  @media screen and (max-width: 575px) {
    .form-row {
      flex-direction: column;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
      -o-flex-direction: column;
      -ms-flex-direction: column;
      margin: 0px; }
    .form-row .form-group {
      width: 100%;
      padding: 0px; }
    .radio-label {
      padding-right: 22px; }
    .form-radio-item {
      margin-right: 25px; } }
  @media screen and (max-width: 480px) {
    .form-radio {
      flex-direction: column;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
      -o-flex-direction: column;
      -ms-flex-direction: column; }}