<section class="banner_part"><a class='custom-link' routerLink='/login'>LOGIN</a>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="banner_text text-center">
                    <div class="banner_text_iner">
                        <h1 style="font-family:'playlist-script';">Blessed Jodi</h1>
                        <p>Join with us and find your soulmate today</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="booking_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="booking_content">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="hotel" role="tabpanel" aria-labelledby="hotel-tab">
                            <div class="booking_form">
                                <form action="search">
                                    <div class="form-row" style='font-family:"Open sans";'>
                                        <div class='form-group'>    
                                            <div class="form-select">
                                                <select>
                                                    <option selected>I'm looking for</option>
                                                    <option value="1">Women</option>
                                                    <option value="2">Men</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class='form-group'> 
                                            <div class='form-select'>
                                                <select>
                                                    <option selected>Age From</option>
                                                    <option value="20">20</option>
                                                    <option value="21">21</option>
                                                    <option value="22">22</option>
                                                    <option value="23">23</option>
                                                    <option value="24">24</option>
                                                    <option value="25">25</option>
                                                    <option value="26">26</option>
                                                    <option value="27">27</option>
                                                    <option value="28">28</option>
                                                    <option value="29">29</option>
                                                    <option value="30">30</option>
                                                    <option value="31">31</option>
                                                    <option value="32">32</option>
                                                    <option value="33">33</option>
                                                    <option value="34">34</option>
                                                    <option value="35">35</option>
                                                    <option value="36">36</option>
                                                </select>
                                            </div>
                                        </div>	
                                        <div class='form-group'> 
                                            <div class="form-select">
                                                <select>
                                                    <option selected>Age Upto</option>
                                                    <option value="20">20</option>
                                                    <option value="21">21</option>
                                                    <option value="22">22</option>
                                                    <option value="23">23</option>
                                                    <option value="24">24</option>
                                                    <option value="25">25</option>
                                                    <option value="26">26</option>
                                                    <option value="27">27</option>
                                                    <option value="28">28</option>
                                                    <option value="29">29</option>
                                                    <option value="30">30</option>
                                                    <option value="31">31</option>
                                                    <option value="32">32</option>
                                                    <option value="33">33</option>
                                                    <option value="34">34</option>
                                                    <option value="35">35</option>
                                                    <option value="36">36</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class='form-group'> 
                                            <div class="form-select">
                                                <select>
                                                    <option selected>Religion</option>
                                                    <option value="Buddhism">Buddhism</option>
                                                    <option value="Christianity">Christianity</option>
                                                    <option value="Hinduism">Hinduism</option>
                                                    <option value="Islam">Islam</option>
                                                    <option value="Jainism">Jainism</option>
                                                    <option value="Judaism">Judaism</option>
                                                    <option value="Nonreligious">Nonreligious</option>
                                                    <option value="Rastafarianism">Rastafarianism</option>
                                                    <option value="Secular">Secular</option>
                                                    <option value="Shinto">Shinto</option>
                                                    <option value="Sikhism">Sikhism</option>
                                                    <option value="Spiritism">Spiritism</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                            </div>
                                        </div>	
                                        <div class='form-group'> 
                                            <div class="form-select">
                                                <select>
                                                  <option selected>Mother tongue</option>
                                                  <option value="AF">Afrikanns</option>
                                                  <option value="AR">Arabic</option>
                                                  <option value="EU">Basque</option>
                                                  <option value="BN">Bengali</option>
                                                  <option value="NL">Dutch</option>
                                                  <option value="EN">English</option>
                                                  <option value="FR">French</option>
                                                  <option value="KA">Georgian</option>
                                                  <option value="DE">German</option>
                                                  <option value="EL">Greek</option>
                                                  <option value="GU">Gujarati</option>
                                                  <option value="HI">Hindi</option>
                                                  <option value="IS">Icelandic</option>
                                                  <option value="ID">Indonesian</option>
                                                  <option value="GA">Irish</option>
                                                  <option value="IT">Italian</option>
                                                  <option value="JA">Japanese</option>
                                                  <option value="KO">Korean</option>
                                                  <option value="ML">Malayalam</option>
                                                  <option value="MR">Marathi</option>
                                                  <option value="NE">Nepali</option>
                                                  <option value="PT">Portuguese</option>
                                                  <option value="PA">Punjabi</option>
                                                  <option value="RO">Romanian</option>
                                                  <option value="RU">Russian</option>
                                                  <option value="ES">Spanish</option>
                                                  <option value="TA">Tamil</option>
                                                  <option value="TE">Telugu</option>
                                                  <option value="UR">Urdu</option>
                                                </select>                                                
                                            </div>
                                        </div>   
                                        <div class='form-group'> 
                                           <div class="form_btn">
                                                <a routerLink="" class="btn_1">search</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="top_place section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="section_tittle text-center">
                    <h2>Over 1.2 Lakh Happy Stories</h2>
                    <p>Blessed Jodi, The International matchmaking service was founded with a simple objective - to help people find happiness :)</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single_place">
                    <img src="assets/images/couple1.png" alt="">
                    <div class="hover_Text d-flex align-items-end justify-content-between">
                        <div class="hover_text_iner">
                            <h3>Akshay & Twinkle</h3>
                            <div class="place_review">
                                <span>I am glad that we got connected to each other through Blessed Jodi
                                and thanks to her for being the first one to approach or else I would have missed out 
                                the opportunity of meeting one of the most beautiful person in the world.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_place">
                    <img src="assets/images/couple2.png" alt="">
                    <div class="hover_Text d-flex align-items-end justify-content-between">
                        <div class="hover_text_iner">
                            <h3>Virat & Anushka</h3>
                            <div class="place_review">
                                <span>We had interaction on Blessed Jodi first and it was an instant connection that we felt. We vibed off together so well 
                                that we exchanged the numbers. It was a gradual process of knowing each other and then falling in love. 
                                We feel that we found our soulmates here.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_place">
                    <img src="assets/images/couple3.png" alt="">
                    <div class="hover_Text d-flex align-items-end justify-content-between">
                        <div class="hover_text_iner">
                            <h3>Nilay & Rachel</h3>
                            <div class="place_review">
                                <span>I'm very grateful to Blessed Jodi for bringing us together. Being from different places and communities,
                                it would have not being possible for us to meet but for this amazing platform. 
                                This has connected not only our hearts but families too. Thank you for helping me to find my soulmate</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_place">
                    <img src="assets/images/couple4.png" alt="">
                    <div class="hover_Text d-flex align-items-end justify-content-between">
                        <div class="hover_text_iner">
                            <h3>Ranveer & Dipika</h3>
                            <div class="place_review">
                                <span>Our story started on 8th June 2017. After going through lots of profile,
                                I came across his profile(Usually I used to call him as my cutie). 
                                 I really felt that he is the 1 just after seeing his pic. I made my decision that I will only marry this boy in any circumstances ( love at first sight that we both have experienced) and now waiting for the moment to get married.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hotel_list section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="section_tittle text-center">
                    <h2>Find your Perfect match</h2>
                    <p>To the world you may be one person but to one person you are the world. -Bill Wilson</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single_ihotel_list">
                    <img src="assets/images/logo1.png" alt="">
                    
                    <div class="hotel_text_iner">
                        <h3> <a routerLink="/signup">Sign Up</a></h3>
                        <p>Register for free & put up your Profile</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single_ihotel_list">
                    <img src="assets/images/logo2.png" alt="">
                    
                    <div class="hotel_text_iner">
                        <h3> <a routerLink="/login">Connect</a></h3>
                        <p>Select & Connect with Matches you like</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single_ihotel_list">
                    <img src="assets/images/logo3.png" alt="">
                    
                    <div class="hotel_text_iner">
                        <h3> <a routerLink="/login">Interact</a></h3>
                        <p>Start a Conversation to know each other</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer-area" style='font-family:"Open sans";'>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-md-5">
                <div class="single-footer-widget">
                    <h4>Need Help with something?</h4>
                    <ul>
                        <li><a routerLink="#">Terms of use</a></li>
                        <li><a routerLink="/login">Member Login</a></li>
                        <li><a routerLink="/signup">Sign Up</a></li>
                        <li><a routerLink="/search">Partner search</a></li>
                        <li><a routerLink="#">Premium Membership</a></li>
                        <li><a routerLink="#">Customer support</a></li>
                        <li><a routerLink="#">Report Spam</a></li>
                        <li><a routerLink="#">Careers</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="single-footer-widget">
                    <h4>Subscribe to Broadcast</h4>
                    <div class="form-wrap" id="mc_embed_signup">
                        <form target="_blank"
                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                            method="get" class="form-inline">
                            <input class="form-control" name="EMAIL" placeholder="Your Email Address"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
                                required="" type="email">
                            <button class="click-btn btn btn-default text-uppercase"> <i class="zmdi zmdi-mail-send"></i>
                            </button>
                            <div style="position: absolute; left: -5000px;">
                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                    type="text">
                            </div>
                            <div class="info"></div>
                        </form>
                    </div>
                    <p>Subscribe our broadcast to get new profiles first.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="single-footer-widget footer_icon">
                    <h4>Contact Us</h4>
                    <p> DDU CE Dept, Nadiad, Gujarat   .
                            +91 97270 18723</p>
                    
                </div>
            </div>
        </div>
    </div>
</footer>
